<h1>{{title}}</h1>

<form method="POST" action="/admin/create-user">
  <label>Name:</label>
  <input type="text" name="name" required>
  <label>email:</label>
  <input type="email" name="email" required>
  <label>Role:</label>
  <select name="role" id="role" >
    <option value="student" selected>Student</option>
     <option value="tutor">Tutor</option>
     <option value="administrator">Administrator</option>
  </select>
  <label>Password:</label>
  <input type="password" name="password" required>
  <button class="form-button" type="submit">Create</button>
</form>