<h1>{{title}}</h1>

<form method="POST" action="/admin/create-subject">
  <label>Name:</label>
  <input type="text" name="name" required>
  <label>Code:</label>
  <input type="text" name="code" required>
  <button class="form-button" type="submit">Create</button>
</form>